* {
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Staatliches&family=Tilt+Neon&display=swap');

@font-face {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/staatliches/v11/HI_OiY8KO6hCsQSoAPmtMYebvpA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Tilt Neon';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/tiltneon/v5/E21L_d7gguXdwD9LEFY2WCeElCNtd-eBqpHp1TzrkJSmwpj5ndxquUK6UOc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body, .container {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif
}

.flex {
    display: flex;
}

.sidebar {
    min-width: 500px;
    background: no-repeat url("img/willian-justen-de-vasconcellos-LdxV5gWHdlM-unsplash.jpg");
    background-size: cover;
    /*background-color: skyblue;*/
    z-index: 5;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    font-weight: 100;
}

.content {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
    background-color: #eef4f8
}

.header {
    word-wrap: break-word;
    width: 50%;
    height: 33%;
    box-sizing: border-box;
    padding: 40px
}

.header h3 {
    position: relative;
    transform: translateY(-50%);
    top: 50%
}

form {
    height: 67%
}

.form {
    box-shadow: 0px 3px 3px #aaa;
    padding: 40px;
    background-color: #fff;
    height: 50%;
    min-height: 330px;
    box-sizing: border-box;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 80px 0 0
}

.row {
    display: flex
}

label {
    font-family: 'Staatliches', cursive;
    font-size: 12px;
    color: #444;
    font-weight: 600
}

input {
    border-radius: 5px;
    border: 1px solid #999;
    padding: 3px
}

input:user-invalid {
    border: 1px solid #f55
}

input:valid {
    border: 1px solid #2ECC71
}

input:optional {
    border: 1px solid #999;
}

.copyright, a {
    color: #fff;
    font-family: monospace;
}

.logo {
    font-family: 'Tilt Neon', cursive;
}

.copyright {
    width: inherit;
    text-align: center;
}

.logo {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(0,0,0,0.5);
    top: 100px;
    color: #fff;
    font-size: 70px;
    text-align: center;
    margin-top: 100px
}

.controls {
    padding: 40px

}

.controls button {
    border: 1px solid #aaa;
    background-color: #2eCC71;
    padding: 2px 20px;
    border-radius: 5px
}

.controls > p > a {
    color: #2ECC71;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.controls p {
    padding-left: 10px
}
